<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Suite">
    <test name="setup" >
        <classes>
            <class name="Set.SetUp"/>
        </classes>
    </test>
    <test name="Training Test">
        <classes>
            <class name="HomePage.IntroTest"/>
    <!-- <class name="HomePage.OfficialAgenciesTest"/> -->
 </classes>
</test> <!-- Test -->
    <test name="tear down" >
        <classes>
            <class name="Set.TearDown"/>
        </classes>
    </test>


</suite>